---
---

$metanook_color: #51A6FD;
$metanook_color_transp: rgba(81,166,253,0.90);

$section_bg: #FFFFFF;
$text_color: #3D4243;

$header_fg: #fff;
$header_fg2: #fff;
$header_bg: $metanook_color;
$content_width: 500pt;

@font-face {
  font-family: 'dejavu';
  src: url('dejavu_b.ttf');
}

@font-face {
  font-family: 'nimbus';
  src: url('nimbus_bc.ttf');
}

body {
  color: $text_color;
  background-color: $header_bg;

  &:before {
    content: "";
    position: fixed;
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
    z-index: -1;

    background:
    	linear-gradient(
    		$metanook_color_transp, $metanook_color_transp
    	), url('../img/bg_people.jpg');
    background-size: contain;
  }
}

header {
  margin: 0 auto;
  max-width: 80em;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  z-index: -1;
  color: #fcfcfc;
  padding: 1em;

  .img_credit {
    display: block;
    position: fixed;
    top: .25em;
    right: .25em;
    font-size: .7em;
    opacity: 0.7;
  }

  h1 {
    $angle: -14deg;
    -webkit-transform: rotate($angle);
    transform: rotate($angle);

    display: inline-block;

    margin-bottom: 3em;
    position: relative;

    .meta, .nook {
      font-family: dejavu;
      font-size: 2em;
      padding: 0;
      margin: 0;
    }

    .meta, .engages {
      color: #FFF8C5;
    }

    .engages, .night {
      position: relative;
      top: -0.5em;
      display: block;
      padding: 0;
      margin: 0;
      font-family: nimbus;
      font-size: 0.6em;
      letter-spacing: 0pt;
    }

    .engages {
      left: 0.3em;
    }

    .night {
      left: 8.7em;
    }
  }

  p {
    font-weight: bold;
    font-size: 2.4em;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

    color: $header_fg;
  }

  p + p {
    color: $header_fg2;
  }

  .links {
    text-align: center;
    margin-top: 4em;

    font-size: 1.4em;

    a {
      background: rgba(darken($section_bg, 10), 0.1);
      color: lighten($header_fg, 20);
      padding: 1em;
      border-radius: 2em;
      text-decoration: none;
      transition: .4s;

      &:hover {
        background: rgba($section_bg, 0.9);
        color: darken($text_color, 80);
      }
    }
  }
}

.content {
  z-index: 1;
  width: 100%;
  overflow: hidden;

  .audimax {
    z-index: 2;
    margin: 0 auto 0 auto;
    position: relative;
    bottom: -20px;
    padding-left: 50%;
    display: block;
    right: 0;
    max-width: 400px;
    height: 140px;
  }
}

article {
  max-width: 80em;
  margin: 0 auto;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.7);

  text-align: center;

  section {
    border-bottom: 1pt solid #eee;
    padding: 2em 1em;
    background: $section_bg;

    &:nth-child(even) {
      background: darken($section_bg, 2);
    }
  }

  p {
    line-height: 1.8em;
  }

  a {
    color: $header_fg2;
    text-decoration: none;

    &:active {
      color: darken($header_fg2, 40);
      text-decoration: underline;
    }

    &:hover {
      color: darken($header_fg2, 20);
      text-decoration: underline;
    }
  }
}

#call-for-participation {
	p {
    text-align: justify;
	}
}

.grid {
  display: flex;
  flex-wrap: wrap;

  .cell {
    flex: 1;
    -webkit-box-flex: 1;
    padding-right: .5em;

    &:last-child {
      padding-right: 0;
    }
  }

  .middle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: box;
    box-orient: vertical;
    box-pack: center;
    box-align: center;
  }
}

footer {
  padding: 2em 1em 2em;
  text-align: center;
  color: $header_fg;
  font-weight: bold;
  
  .logos {
    max-width: $content_width;
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;

    div {
      flex: 1;
      -webkit-box-flex: 1;
      img {
        max-width: 90%;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6, p, .grid, #map {
  max-width: $content_width;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

a {
  color: lighten($header_fg, 20);
  transition: .2s;

  &:hover {
    color: lighten(saturate($header_fg, 50), 30);
  }
}

address {
  font-style: normal;
}

@media only screen and (max-height: 600px) {
  header {
    position: inherit;
    font-size: 9pt;
  }

  .content {
    position: inherit;
  }

}

#map {
  height: 30em;
}

.schedule {
  min-width: 100%;
}
